<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/mapita</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">holi312</property>
    <mapping resource="com/mycompany/ejemplo2/ColumnUdtUsage.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/TriggeredUpdateColumns.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/ViewTableUsage.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/ColumnOptions.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/SqlLanguages.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/ColumnDomainUsage.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/KeyColumnUsage.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/PgForeignTableColumns.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/Parameters.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/PgForeignServers.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/ConstraintTableUsage.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/Columns.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/ReferentialConstraints.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/ForeignDataWrapperOptions.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/RoleColumnGrants.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/RoleTableGrants.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/UserDefinedTypes.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/UserMappings.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/EnabledRoles.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/RoleUsageGrants.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/Triggers.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/AdministrableRoleAuthorizations.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/ForeignDataWrappers.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/ForeignTableOptions.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/UdtPrivileges.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/Views.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/RoleUdtGrants.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/DomainConstraints.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/ForeignTables.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/RoleRoutineGrants.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/CheckConstraintRoutineUsage.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/SqlSizing.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/CheckConstraints.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/SqlParts.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/ConstraintColumnUsage.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/PgForeignDataWrappers.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/Usuario.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/SqlSizingProfiles.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/ColumnPrivileges.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/DataTypePrivileges.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/SqlFeatures.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/SqlPackages.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/Marcador.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/InformationSchemaCatalogName.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/Attributes.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/Sequences.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/Routines.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/UserMappingOptions.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/UsagePrivileges.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/Tables.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/ApplicableRoles.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/PgUserMappings.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/Transforms.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/TableConstraints.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/DomainUdtUsage.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/ElementTypes.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/CollationCharacterSetApplicability.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/ViewRoutineUsage.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/ViewColumnUsage.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/Domains.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/ForeignServers.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/SqlImplementationInfo.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/PgForeignTables.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/Schemata.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/ForeignServerOptions.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/CharacterSets.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/Collations.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/TablePrivileges.hbm.xml"/>
    <mapping resource="com/mycompany/ejemplo2/RoutinePrivileges.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
